<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj kategorie</title>
    <!--<link rel="stylesheet" href="../static/style.css" media="screen" type="text/css">-->
</head>
<body >

<div class="post">

    <form action="/add/category" method="post" th:object="${categoryForm}">
        <input type="text" th:field="*{name}" placeholder="Tytuł">
        <input type="submit" value="Wyślij"/>
    </form>
</div>
<div >
    <div id="category" th:each="category : ${categories}">
        <a th:text="${category.getId()}">
        </a>
        <strong th:text="${category.getName()}"></strong>
</div>
    <footer>
        <a href="/">Powrót</a>
    </footer>
</div>
</body>
</html>