<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<!--<body id="body-index">-->
<body>
<h1>Blog</h1>
<div>
    <div class="post" id="post" th:each="post : ${posts}">
        <a th:href="${'/post/' + post.getId()}">
            <p th:text="${post.getTitle()}"></p>
        </a>
        <p class="author" th:text="${post.getAuthor()}"></p>
        <p class="author" th:text="${#temporals.format(post.getCreationTime(), 'dd-MM-yyyy HH:mm')}"></p>
    </div>
</div>
<footer>

    <a class="footer-link-left" href="/add/post">Dodaj nowy post</a>
     <a class="footer-link-right" href="/add/category">Dodaj nowa kategorie</a>

</footer>
</body>
</html>