<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
    <link rel="stylesheet" href="../static/post-style.css" type="text/css">
</head>
<body>
<div class="add-post">
    <h1 th:text="${post.getTitle()}"></h1>
    <div>
        <span th:text="${post.getArticle()}"></span>
    </div>
    <strong th:text="${'Utworzony przez ' + post.getAuthor() + '  (' + post.getCategory().getName() + ')'}"></strong>

    <br/> <br/> <br/> <br/> <br/>

    <form th:action="${'/comment/' + post.getId()}" method="post">
        <input type="text" name="comment" placeholder="Komentarz">
        <input type="text" name="author" placeholder="Twój nick"> <br/>
        <input type="submit" value="Wyślij">
    </form>
    <br/>
    <div >
        <div th:each="comment : ${post.getComments()}">
            <h4 th:text="${comment.getAuthor()}"></h4>
            <p th:text="${comment.getContent()}"></p>
            <hr/>
        </div>
    </div>

    <br/>
<footer>
    <a href="/">Powrót</a>
</footer>

</div>

</body>
</html>